[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
albumentations = "*"
dagster = "*"
dagit = "*"
apache-airflow = "==2.1.0"
mlflow = "*"

[packages.dvc]
extras = [ "gdrive",]
